html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Yatzi projekt
        link(rel="stylesheet" href="GuI.css") 
        script(src="LogikGuI.js" defer)
        meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
        meta(http-equiv="Pragma" content="no-cache")
        meta(http-equiv="Expires" content="0")
    body
        #Terninger-Container
            #Terninger
                table
                    tr
                        each terning, index in terninger
                            td(id="td-#{index + 1}" class=diceArray)
                                img(
                                    id=`dice-${index + 1}`
                                    src=terning.imgString 
                                    alt=`Dice ${index + 1}: ${terning.value}`
                                )
            #rolls
                label#TurnLabel Turns:
                span#rollsLeft= currentPlayer.rollsLeft
                include includes/rollButton.pug
        #spiller-container
            include includes/spiller.pug 
            h1 Score:
            ul
                each spiller in gameSpillere
                    li(id=`li${spiller.navn}` class=(spiller.done ? "donePlayer" : ""))=spiller.navn + ": " + spiller.score
            h1 Current Player:
            h3(id="currentPlayerh3" class=currentPlayer ? "currentPlayer" : "") #{currentPlayer.navn}
        #Point-Container
            #PointLabel-Container
                each value, key in gameData
                    label= key
            #raekkeInput
                each value, key in gameData
                    input(
                        id = `input${key}`
                        type="text" 
                        name=key
                        value=value.value
                        class="input"
                        readonly)
            #sumRaekke
                label Sum:
                input#Sum(
                    type="text" 
                    name="Sum" 
                    value= currentPlayer.score
                    readonly)
            #bonusTotalRaekke
                label Bonus:
                input#Bonus(
                    type="text" 
                    name="Bonus" 
                    disabled=true 
                    placeholder="50")
                #Total
                    label Total:
                    input#Total(
                        type="text" 
                        name="Total" 
                        value= currentPlayer.score) 
